@*@model MultiplexServices.Models.Runs.AddRunModel*@
    <div class="page-header page-header clearfix detailHeading">
        <h2 class="text-muted">Other movie is running in the specified Room at that time!</h2>
    </div>

    <div class="col-md-12">
        <div>
            <a asp-area="" asp-controller="Runs" asp-action="AddRun">Go back to Add Run Page</a>
        </div>
    </div>

