@model MultiplexServices.Models.Runs.RunIndexModel

<div id="runs">
    <h3>Multiplex Runs</h3>
    <div id="runsTable">
        <table class="table table-condensed" id="runsIndexTable">
            <thead>
                <tr>
                    <th>Poster</th>
                    <th>Movie</th>
                    <th>Room</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>