@model MultiplexServices.Models.Runs.RunDetailModel
<div class="page-header page-header clearfix detailHeading">
    <h2 class="text-muted">Tickets were booked!</h2>
</div>
@*@foreach (var seat in @Model.Seats)
    {
        <div class="col-md-12">
            <label>Movie: @Model.MovieName</label>
            <label>Type: @Model.MovieType</label>
            <label>Time: @Model.DateTime.ToShortTimeString()</label>
            <label>Room: seat.RoomID </label>
        </div>*@
}
