@model MultiplexServices.Models.Admin.AdminModel
<div class="container">
    <div class="page-header page-header clearfix detailHeading">
        <h2 class="text-muted" style="text-align:center;">Administration</h2>
    </div>
</div>
<div class="row">
    <div>
        <p style="text-align:center;"><a class="btn btn-lg btn-info" role="button" asp-controller="Rooms" asp-action="AddRoom">Add New Room</a></p>
    </div>
    <div>
        <p style="text-align:center;"><a class="btn btn-lg btn-info" role="button" asp-controller="Rooms" asp-action="Index">Manage Rooms</a></p>
    </div>
    <div>
        <p style="text-align:center;"><a class="btn btn-lg btn-info" role="button" asp-controller="Movies" asp-action="AddMovie">Add New Movie</a></p>
    </div>
    <div>
        <p style="text-align:center;"><a class="btn btn-lg btn-info" role="button" asp-controller="Runs" asp-action="AddRun">Add New Run</a></p>
    </div>
</div>
