@model MultiplexServices.Models.Movies.MovieIndexModel

<div class="col-sm-12 col-md-12 col-xs-12 container">
    <h3>Upcoming movies</h3>
    <div id="moviesTable">

        @foreach (var movie in @Model.Movies)
        {
            <div class="col-sm-5 col-md-5 col-xs-5 container">
                <div class="thumbnail" style="border:none; background:white;">
                    <div class="col-sm-5 col-md-5 col-xs-12 image-container">
                        <a asp-controller="Movies" asp-action="Detail" asp-route-id="@movie.Id">
                            <img src="data:image/png;base64,@movie.Poster" style="height:200px; margin-left:-15px;" />
                        </a>
                    </div>
                    <div class="col-sm-7 col-md-7 col-xs-12">
                        <h3>@movie.Title</h3>
                        <p style="font-size:10px; color:#03225C;">@movie.Description</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-1 col-md-1 col-xs-1">
            </div>
        }

    </div>
</div>