@model Multiplex.Models.Rooms.RoomsModel
<div class="container">
    <div class="page-header page-header clearfix detailHeading">
        <h2 class="text-muted">AddRoom</h2>
    </div>
</div>
<div class="col-md-12">
    @using (Html.BeginForm("AddRoom", "Rooms", FormMethod.Post))
    {
        
        <p>
            @Html.LabelFor(p => p.RoomName)
            @Html.TextBoxFor(p => p.RoomName)
        </p>
        <p>
            @Html.LabelFor(p => p.Seats)
            @Html.TextBoxFor(p => p.Seats)
        </p>

        <input type="submit" value="Save" />
    }
</div>

