@model MultiplexServices.Models.Rooms.RoomModel
<div class="container">
    <div class="page-header page-header clearfix detailHeading">
        <h2 class="text-muted" style="text-align:center;">Add a new room</h2>
    </div>
</div>
<div class="col-md-12">
    @using (Html.BeginForm("AddRoom", "Rooms", FormMethod.Post))
    {
        <p class="centeredp">
            @Html.LabelFor(p => p.RoomName)
            @Html.TextBoxFor(p => p.RoomName)
        </p>
        <p class="centeredp">
            @Html.LabelFor(p => p.Seats)
            @Html.TextBoxFor(p => p.Seats)
        </p>

        <p class="centeredp">
    <input type="submit" value="Save"/>
        </p>
    }
</div>

